.delete_confirmation {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background: rgb(188, 199, 175);
  position: absolute;
  top: 180px;
  left: 540px;
  padding: 20px;
  border-radius: 8px;
}
.delete_confirmation .close_btn_div {
  display: flex;
  justify-content: flex-end;
  height: 20%;
  border-bottom: 1px solid rgb(224, 221, 221);
}
.delete_confirmation .close_btn_div button {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #4F8E33;
  border: none;
  border-radius: 5px;
}
.delete_confirmation .close_btn_div button i {
  font-size: 20px;
}
.delete_confirmation .close_btn_div button:hover {
  cursor: pointer;
  background-color: #2C6C35;
}
.delete_confirmation .confirmation_question {
  display: flex;
  justify-content: center;
  height: 60%;
  align-items: center;
  border-bottom: 1px solid #daf5ce;
}
.delete_confirmation .confirmation_question h3 {
  color: black;
  margin: 0;
}
.delete_confirmation .yes_no_div {
  display: flex;
  justify-content: center;
  gap: 150px;
  height: 20%;
  margin-top: 20px;
}
.delete_confirmation .yes_no_div .btn {
  width: 50px;
  height: 40px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete_confirmation .yes_no_div .yes_btn {
  color: white;
  background-color: #4F8E33;
  border: none;
  border-radius: 5px;
}
.delete_confirmation .yes_no_div .yes_btn:hover {
  cursor: pointer;
  background-color: #2C6C35;
}
.delete_confirmation .yes_no_div .no_btn {
  cursor: pointer;
  color: white;
  background-color: #4F8E33;
  border: none;
  border-radius: 5px;
}
.delete_confirmation .yes_no_div .no_btn:hover {
  background-color: #2C6C35;
}